body::before{
    display: block;
    content: '';
    height: 60px;
}
@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}
.nav-item-1 a{
    color: #fff;
}
.nav-item-1 a:hover{
    font-weight: 600;
    transition-delay: 0.1s;
    color: #fff;
}
.logo:hover,
.logo:focus{
    transform: scale(1.1);
    transition-delay: 0.1s;
    transition: 0.9s ease-in-out;
}